node-name: {{ k3s_node_name }}
data-dir: {{ k3s_data_dir }}
https-listen-port: {{ k3s_https_listen_port }}
cluster-cidr: {{ k3s_cluster_cidr }}
service-cidr: {{ k3s_service_cidr }}
write-kubeconfig-mode: "0644"
