apiVersion: v1
kind: Namespace
metadata:
  name: 1password
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: 1password
  namespace: kube-system
spec:
  repo: https://1password.github.io/connect-helm-charts
  chart: connect
  version: 1.15.0
  targetNamespace: 1password
  valuesContent: |-
    connect:
      credentials: {{ onepassword_connect_credentials | to_json }}
      api:
        resources:
          requests:
            cpu: 75m
            memory: 30Mi
          limits:
            cpu: 150m
            memory: 30Mi
      sync:
        resources:
          requests:
            cpu: 10m
            memory: 20Mi
          limits:
            cpu: 50m
            memory: 20Mi
    operator:
      create: true
      token:
        value: {{ onepassword_operator_token }}
      resources:
        requests:
          cpu: 5m
          memory: 50Mi
        limits:
          cpu: 25m
          memory: 50Mi
