apiVersion: v1
kind: Namespace
metadata:
  name: 1password
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: 1password
  namespace: kube-system
spec:
  repo: https://1password.github.io/connect-helm-charts
  chart: connect
  targetNamespace: 1password
  valuesContent: |-
    connect:
      credentials: {{ onepassword_connect_credentials | to_json }}
    operator:
      create: true
      token:
        value: {{ onepassword_operator_token }}
